/* placing background image, needs to be centered */
html {
	background: url(img/backg2.jpg) no-repeat center center fixed; 
	background-size: cover;
}



/* mobile first grid layout */
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100% 100% 100% 100%% 100% 100% 100% 100%;
	grid-template-areas: 
	"logo logo"
	"bar bar"
	"sum sum"
	"rev rev"
	"bio bio"
	"slide slide"
	"sidebar sidebar"
	"footer footer";
	grid-gap: 5px;
	
}



/* styling specific grid cells */
.logo {
	grid-area: logo;
	justify-self: center;
	border: 2px solid black;
	border-bottom: 3px solid black;
	border-radius: 20px;
	height: 260px;
}

.logo img {
	border-radius: 20px;
}

.logo, .logo img {
	width: 320px;
}

.bar {
	grid-area: bar;
	align-self: center;
	justify-self: right;
}

.sidebar {
	grid-area: sidebar;
	width: 250px;
	justify-self: center;
}

.slide {
	grid-area: slide;
	text-align: center;
}

/* background and border of slideshow */
.slide {
	border: 2px solid black;
	padding-top: 5px;
	background-color: tan;
	border-radius: 5px;
}

.slide img {
	width: 317px;
	height: 265px;
	border-radius: 5px;
	border: 1px solid black;
}

.sum {
	grid-area: sum;
	align-self: center;
	text-align: center;
	display: grid;
}

.rev {
	grid-area: rev;
	align-self: center;
	text-align: center;
	background-image: url("img/blue_blank.jpg");
	margin-right: 20px;
}

.review_img {
	float: left;
	width: 95px;
	height: 95px;
	border-radius: 5px;
	border-right: 2px solid black;
}

.bio {
	grid-area: bio;
	align-self: center;
	text-align: center;
	background-image: url("img/reverse_blue_blank.jpg");
	margin-left: 20px;
}

.bio_img {
	float: right;
	width: 95px;
	height: 95px;
	border-radius: 5px;
	border-left: 2px solid black;
}

/* border around text inside review and bio links*/
.rev span, .bio span {
	margin-top:35px;
	font-size: 20px;
	border: 1px solid black;
	border-radius: 50%;
	display: inline-block;
	background-color: tan;
	color: black;
	padding: 7px;
	
}

.rev, .bio {
	border-radius: 5px;
	border:2px solid black;
}

.rev a, .bio a {
	text-decoration: none;
	color: black;
	
}

.footer {
	grid-area: footer;
	align-self: center;
	text-align: center;
	margin-bottom: -150px;
}
/* End grid cell styling */



/* Making the Navigation bar, there's a better way probably */
.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	background-color: #98bf21;
	
}

.navbar a:link, a:visited {
	display: block;
	font-weight: bold;
	color: #ffffff;
	width: 150px;
	text-align: center;
	padding: 4px;
	background-color: #98bf21;
	text-decoration: none;
}

.navbar a:hover, a:active {
	background-color: #7a991a;
}

.navbar li {
	display: inline-block;
}
/* End of Navigation bar */



/* Give all text areas a tan color, round borders, slightly transparent */
.sidebar, .sum, .footer {
	background-color: tan;
	opacity: 0.9;
	border: 1px solid black;
	border-radius: 15px;
}



/* desktop grid layout */
@media screen and (min-width: 736px) {
	.grid {
		display: grid;
		grid-template-columns: 1fr 330px 330px 330px 1fr;
		grid-template-rows: 100% 40px 180px 180px 75% 50px;
		grid-template-areas: 
		". logo bar bar ."
		". sidebar . . ."
		". sidebar sum sum ."
		". sidebar rev bio ."
		". sidebar slide slide ."
		". footer footer footer .";
	}
	
	.logo {
	grid-area: logo;
	justify-self: center;
	border: 2px solid black;
	border-bottom: 3px solid black;
	border-radius: 20px;
	height: 260px;
	}

	.logo img {
	border-radius: 20px;

	}
	
	/* background and border of slideshow */
	.slide {
	border: 2px solid black;
	padding-top: 5px;
	background-color: tan;
	border-radius: 5px;
	}
	
	.slide img {
		width: 650px;
		height: 450px;
	}
	
}



/* changing color for debugging?
.grid div:nth-child(even) {
	background-color: red;
}

.grid div:nth-child(odd) {
	background-color: green;
}
*/